.log {
    border-collapse: collapse;
    border: 2px solid black;
    font-family: Verdana;
    font-size: 9px;
    width: 100%;
    border: 1px solid red;
}

.log td {
    border: 1px solid black;
    padding: 3px;
}

.ns_ad_event {
    font-weight: bold;
}

.addb-item {
    padding: 3px;
    border: 0;
    border-radius: 3px;
    background-color: #FF7151;
    display: inline-block;
    margin: 0 3px 3px 0;
}

.addb-item .red {} .addb-item .green {
    font-weight: bold;
}
.main-info {
    text-align: right;
    padding: 5px;
}

body {
    font-size: 10px;
    font-family: Verdana;
}

.logsv {
    border: 2px solid black;
    vertical-align: top;
}

.logsv .ad {
    border: 1px solid red;
    margin: 5px;
    width: 300PX;
    display: inline-block;
}

.logsv .ad .title {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.logsv .ad .attr {
    word-wrap: break-word;
}
.logsv .ad .attr .name {
    margin-right: 4px;
    font-weight: bold;
}

.logsv .ad .attr .value {
    width: 100%;
    word-wrap: break-word;
}

.logsv .ad .attr .value.inline {
    display: inline;
}

.logsv .ad .attr .value .vvalue {
    background-color: pink;
    border-radius: 3px;
    margin: 3px;
    padding: 2px; 
}

.c-table {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 9px;
    width: auto;
    overflow: auto;
    display: block;
}
.c-table td {
    padding: 3px 5px;
    color: white;
}
.h-table {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 9px;
    width: auto;
    overflow: auto;
    display: block;
}
.h-table td {
    padding: 3px 5px;
    color: white;
}
#tooltip-container {
    position: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 9999;
}
.tooltip {
    display: inline-flex;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}
.tooltip {
    background: #333;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
}
.histo {
    max-height: 400px;
    width: 150px;
    overflow-y: auto;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: white;
    margin-left: 10px;
    padding-left: 10px;
}

#canvas {
    height: 750px;
}